.score {
    text-align: center;
    color: #ffffff;
    font-size: 177px;
    font-family: "Segoe UI";
    
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0); 
    display: flex;
}

.finishButton {

    position: absolute;
    top: 320px; 
}

.timer {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0); 
}

.nicks {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    display: flex;
    justify-content: space-between;
    width: 680px;

    position: absolute;
    top: 122px;
    left: 50%;
    transform: translate(-50%, 0); 
}

.flex {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    display: flex;
}