.score {
    text-align: center;
    color: #ffffff;
    font-size: 177px;
    font-family: "Segoe UI";
    
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0); 
    display: flex;
}

.red-score{
    color: #e23c16;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 1);}
.blue-score{
    color: #296cd8;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 1);}
.score p {
    padding: 30px;
}

.finishButton {
    position: absolute;
    top: 400px; 
}

.timer {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0); 
}

.nicks {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    display: flex;
    justify-content: space-between;
    width: 680px;

    position: absolute;
    top: 122px;
    left: 50%;
    transform: translate(-50%, 0); 
}

.flex {
    color: #ffffff;
    font-size: 30px;
    font-family: "Segoe UI";

    display: flex;
}